@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

div{
	margin: auto;
}

#formwrapper {
	position: relative;
	top : 20px;
	border: 1px solid gray;
	margin: auto;
	width: 800px
}
/* 크기조정 */
#title, #draw, #file, #content {
	width: 790px;
}
/* 버튼 div */
#buttons {
	text-align: center;
}
/* 파일추가, 리셋 */
#addTagButton, #reset{
	background-color: white;
}
/*수정 취소 삭제 버튼 */
#ok, #cancel, #del{
	width : 100px;
	height: 25px;
	background-color: white;
}

/* 캔버스 */
#canvas {
	border: 1px solid black;
	margin: auto;
	background-color: white;
}

/* 현재색이 표시되는 상자 */
#colorBox{
	position : relative;
	float :left;
	width :15px;
	height : 15px;
	background-color: black;
}


/* 색변경용 슬라이더 옆 RGBA문자 색추가 */
#fontR{
	color: red;
}
 #fontG {
	color: green;
}
#fontB {
	color: blue;
}
#fontA{
	color: gray;
}


.slider{
	-webkit-appearance : none;
	border: 1px solid;
	height: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid;
}
